n8n_workflows/NOC AI SQL Agent V3.2.json
{
  "name": "NOC AI SQL Agent V3.2",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "b8fc3b13-0b35-48a2-8905-ad49c9236511",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1,
      "position": [
        1232,
        -368
      ],
      "webhookId": "8af958b6-8099-4cd2-b574-7c5bf690f979"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are a NOC assistant. Extract info from the user message and output EXACTLY 12 key=value lines. Output only values — never write rule descriptions as values.\n\nintent=\ncategory=\nvendor=\nregion_input=\nnetworktype=\nseverity=\nsitedownflag=\nsitepoweroff=\nacknowledged=\nsitecode=\ncount_only=\nuser_question=\n\nRules (apply silently, never copy these into output):\n- intent: alarm_count if asking how many/count; list_alarms if asking to show/list; unknown otherwise\n- category: SITE_DOWN if site down or down site; POWER if power alarm or power off; CELL_DOWN if cell; empty if unclear\n- vendor: Huawei | Nokia | ZTE | ZTE NEW System | empty\n- region_input: copy raw location phrase exactly as user said | empty\n- networktype: 2G | 3G | 4G | 5G | empty\n- severity: Critical | Major | Minor | Warning | Uncleared | Cleared | empty\n- sitedownflag: Yes if site down or down site; empty otherwise\n- sitepoweroff: Yes if power off or power outage; empty otherwise\n- acknowledged: Y | N | empty\n- sitecode: exact site code if mentioned | empty\n- count_only: true if asking for count; false if asking to list\n- user_question: copy full original question\n\nCORRECT output for 'how many down site in alex':\nintent=alarm_count\ncategory=SITE_DOWN\nvendor=\nregion_input=alex\nnetworktype=\nseverity=\nsitedownflag=Yes\nsitepoweroff=\nacknowledged=\nsitecode=\ncount_only=true\nuser_question=how many down site in alex\n\nWRONG (never do this):\nsitedownflag=Yes if user says site down\ncount_only=true if asking for count\n\nOutput exactly 12 lines only. Leave value empty if not mentioned."
        }
      },
      "id": "4f37068d-fe45-42f4-9cee-cb6ff7285955",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.4,
      "position": [
        1440,
        -368
      ]
    },
    {
      "parameters": {
        "model": "qwen2.5:14b",
        "options": {
          "temperature": 0
        }
      },
      "id": "64dc8441-3935-459a-b6a9-9c96c502bcaa",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1152,
        -144
      ],
      "credentials": {
        "ollamaApi": {
          "id": "VwxCxN5WfcmbgnMK",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "id": "c0c8bee2-78fc-47df-8376-19c832dd6bdb",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [
        1344,
        -128
      ]
    },
    {
      "parameters": {
        "jsCode": "let raw=$json.action_input||$json.output||\"\";\nif(!raw)throw new Error(\"No AI output\");\nif(typeof raw!==\"string\")raw=JSON.stringify(raw);\nraw=raw.trim();\nlet p;\ntry{\n  p=JSON.parse(raw);\n  if(typeof p===\"string\")p=JSON.parse(p);\n  const n={};\n  for(const[k,v]of Object.entries(p))n[k.toLowerCase().trim()]=v;\n  p=n;\n}catch(e){\n  p={};\n  for(const l of raw.split(\"\\n\").map(s=>s.trim()).filter(s=>s.indexOf(\"=\")>0)){\n    const i=l.indexOf(\"=\");\n    const k=l.slice(0,i).trim().toLowerCase();\n    const v=l.slice(i+1).trim();\n    if(k)p[k]=v;\n  }\n}\nconst co=String(p.count_only||\"\").toLowerCase();\np.count_only=co===\"true\"||co===\"1\";\nconst sd=String(p.sitedownflag||\"\").toLowerCase();\np.sitedownflag=sd.startsWith(\"yes\")?\"Yes\":\"\";\nconst sp=String(p.sitepoweroff||\"\").toLowerCase();\np.sitepoweroff=sp.startsWith(\"yes\")?\"Yes\":\"\";\np.category=String(p.category||\"\").toUpperCase().trim();\nif(![\"SITE_DOWN\",\"POWER\",\"CELL_DOWN\"].includes(p.category))p.category=\"\";\nconst vi=[\"alarm_count\",\"list_alarms\",\"unknown\"];\np.intent=vi.includes(String(p.intent||\"\").toLowerCase())?String(p.intent).toLowerCase():\"unknown\";\nconst sr=String(p.severity||\"\").toLowerCase().trim();\nconst ks=[\"critical\",\"major\",\"minor\",\"warning\",\"uncleared\",\"cleared\",\"active\",\"open\"];\np.severity=ks.includes(sr)?sr.charAt(0).toUpperCase()+sr.slice(1):\"\";\nreturn[{json:p}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        -368
      ],
      "id": "7f700b2e-4758-4115-b68e-9f5f03f178df",
      "name": "Parse Agent Output"
    },
    {
      "parameters": {
        "jsCode": "const GEO={\"alex\":{l:\"Alex\",o:[\"ALEX1\",\"ALEX2\",\"ALEX3\",\"ALEX4\",\"AlexCore\"]},\"alexandria\":{l:\"Alex\",o:[\"ALEX1\",\"ALEX2\",\"ALEX3\",\"ALEX4\",\"AlexCore\"]},\"cairo\":{l:\"Cairo\",o:[\"Cairo\",\"CairoCore\",\"Downtown\",\"Gesr El Suiz\",\"Giza\",\"Helwan\",\"Mohandesen\",\"OSS\",\"Shorouk\",\"Tagamo3\"]},\"delta\":{l:\"\",o:[\"DOMYAT\",\"DYARBNEAGM\",\"FAKOUS\",\"MANSURA\",\"ZAGAZIK\",\"DAMANHOUR\",\"DELENGAT\",\"KAFR ELSHEIKH\",\"SHEBIN\",\"TANTA\"]},\"east delta\":{l:\"East Delta\",o:[\"DOMYAT\",\"DYARBNEAGM\",\"FAKOUS\",\"MANSURA\",\"ZAGAZIK\"]},\"west delta\":{l:\"West Delta\",o:[\"DAMANHOUR\",\"DELENGAT\",\"KAFR ELSHEIKH\",\"SHEBIN\",\"TANTA\"]},\"upper\":{l:\"\",o:[\"ASSIUT\",\"BANISUIEF\",\"DEIR MAWAS\",\"FAYOUM\",\"MENYA\",\"Maghagha\",\"ASWAN\",\"Abu simple\",\"EDFO\",\"GERGA\",\"LUXOR\",\"QENA\",\"SOHAG\"]},\"upper egypt\":{l:\"\",o:[\"ASSIUT\",\"BANISUIEF\",\"DEIR MAWAS\",\"FAYOUM\",\"MENYA\",\"Maghagha\",\"ASWAN\",\"Abu simple\",\"EDFO\",\"GERGA\",\"LUXOR\",\"QENA\",\"SOHAG\"]},\"north upper\":{l:\"North Upper\",o:[\"ASSIUT\",\"BANISUIEF\",\"DEIR MAWAS\",\"FAYOUM\",\"MENYA\",\"Maghagha\"]},\"south upper\":{l:\"South Upper\",o:[\"ASWAN\",\"Abu simple\",\"EDFO\",\"GERGA\",\"LUXOR\",\"QENA\",\"SOHAG\"]},\"sinai\":{l:\"Sinai\",o:[\"ABO REDIES\",\"ARISH\",\"HURGHADA\",\"ISMAILIA\",\"MARSA ALAM\",\"NUWIBA\",\"RASCEDER\",\"SHARM\",\"SUEZ\",\"ZAFRANA\"]}};\nconst AR={\"\\u0627\\u0633\\u0643\\u0646\\u062f\\u0631\\u064a\\u0629\":\"alex\",\"\\u0627\\u0633\\u0643\\u0646\\u062f\\u0631\\u064a\\u0647\":\"alex\",\"\\u0627\\u0644\\u0642\\u0627\\u0647\\u0631\\u0629\":\"cairo\",\"\\u062f\\u0644\\u062a\\u0627\":\"delta\",\"\\u0627\\u0644\\u0635\\u0639\\u064a\\u062f\":\"upper\",\"\\u0633\\u064a\\u0646\\u0627\":\"sinai\",\"\\u0633\\u064a\\u0646\\u0627\\u0621\":\"sinai\"};\nconst ri=($json.region_input||\"\").trim();\nconst key=(AR[ri]||ri).toLowerCase().trim();\nconst geo=GEO[key]||null;\nconst location=geo?geo.l:\"\";\nconst fm_offices=geo?geo.o:[];\nconst region_label=geo?(geo.l||key):(ri||\"\");\nreturn[{json:{intent:$json.intent||\"unknown\",category:$json.category||\"\",vendor:$json.vendor||\"\",location,fm_offices,region_label,networktype:$json.networktype||\"\",severity:$json.severity||\"\",sitedownflag:$json.sitedownflag||\"\",sitepoweroff:$json.sitepoweroff||\"\",acknowledged:$json.acknowledged||\"\",sitecode:$json.sitecode||\"\",count_only:$json.count_only===true||$json.count_only===\"true\",user_question:$json.user_question||\"\"}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        -368
      ],
      "id": "d226d6c7-fe84-43c9-9c62-d381ecd73d88",
      "name": "Resolve Location"
    },
    {
      "parameters": {
        "jsCode": "const cat=($json.category||\"\").toUpperCase();\nconst ven=$json.vendor||\"\";\nconst isDirect=cat===\"SITE_DOWN\"||cat===\"POWER\"||(cat===\"\"&&ven===\"\");\nlet sql;\nif(isDirect){\n  sql=\"SELECT '__DIRECT__' AS alarm_name\";\n}else{\n  const w=[];\n  if(cat)w.push(`category = '${cat.replace(/'/g,\"''\")}'`);\n  if(ven)w.push(`vendor = '${ven.replace(/'/g,\"''\")}'`);\n  const wc=w.length?`WHERE ${w.join(\" AND \")}`:\"\"\n  sql=`SELECT alarm_name FROM ai_alarm_mappings ${wc} ORDER BY alarm_name;`.trim();\n}\nreturn[{json:{sql,intent:$json.intent,category:$json.category,vendor:$json.vendor,location:$json.location,fm_offices:$json.fm_offices,region_label:$json.region_label,networktype:$json.networktype,severity:$json.severity,sitedownflag:$json.sitedownflag,sitepoweroff:$json.sitepoweroff,acknowledged:$json.acknowledged,sitecode:$json.sitecode,count_only:$json.count_only,user_question:$json.user_question}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        -368
      ],
      "id": "f5d450a7-79d4-406c-b05a-5f881708637c",
      "name": "Build SQL"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1088,
        0
      ],
      "id": "4a8c52ec-dbe9-469b-a322-8581c1935dab",
      "name": "Get Alarm Names From Mapping",
      "credentials": {
        "postgres": {
          "id": "6yAH4lwLwnnx60hm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ctx=$items(\"Build SQL\")[0].json;\nconst q=(ctx.user_question||\"\").toLowerCase();\nconst now=new Date();\nlet s=new Date(now),e=new Date(now);\ns.setHours(0,0,0,0);e.setHours(23,59,59,999);\nif(q.includes(\"last 1 hour\")||q.includes(\"last hour\")){s=new Date(now.getTime()-3600000);e=new Date(now);}\nelse if(q.includes(\"last 6 hour\")){s=new Date(now.getTime()-21600000);e=new Date(now);}\nelse if(q.includes(\"last 12 hour\")){s=new Date(now.getTime()-43200000);e=new Date(now);}\nelse if(q.includes(\"last 24 hour\")){s=new Date(now.getTime()-86400000);e=new Date(now);}\nelse if(q.includes(\"yesterday\")){s=new Date(now);s.setDate(s.getDate()-1);s.setHours(0,0,0,0);e=new Date(now);e.setDate(e.getDate()-1);e.setHours(23,59,59,999);}\nelse if(q.includes(\"last 7 day\")){s=new Date(now.getTime()-604800000);e=new Date(now);}\nconst pad=n=>String(n).padStart(2,\"0\");\nconst fmt=d=>`${d.getFullYear()}-${pad(d.getMonth()+1)}-${pad(d.getDate())} ${pad(d.getHours())}:${pad(d.getMinutes())}:${pad(d.getSeconds())}`;\nlet sdf=ctx.sitedownflag||\"\";let spo=ctx.sitepoweroff||\"\";\nif(ctx.category===\"SITE_DOWN\"&&!sdf)sdf=\"Yes\";\nif(ctx.category===\"POWER\"&&!spo)spo=\"Yes\";\nconst alevs=[\"critical\",\"major\",\"minor\",\"warning\"];\nconst clevs=[\"uncleared\",\"cleared\",\"active\",\"open\"];\nconst sr=(ctx.severity||\"\").toLowerCase().trim();\nconst stdSev=alevs.includes(sr)?sr.charAt(0).toUpperCase()+sr.slice(1):\"\";\nconst clSev=clevs.includes(sr)?sr.charAt(0).toUpperCase()+sr.slice(1):\"\";\nreturn[{json:{starttime:s.getTime(),endtime:e.getTime(),start_local:fmt(s),end_local:fmt(e),start:0,limit:100,type:1,intent:ctx.intent,category:ctx.category,vendor:ctx.vendor,location:ctx.location,fm_offices:ctx.fm_offices,region_label:ctx.region_label,networktype:ctx.networktype,standardalarmseverity:stdSev,clearance_severity:clSev,sitedownflag:sdf,sitepoweroff:spo,acknowledged:ctx.acknowledged,sitecode:ctx.sitecode,count_only:ctx.count_only,user_question:ctx.user_question}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        0
      ],
      "id": "83277dd5-09c4-4244-ab85-37e8e99a0775",
      "name": "Build Time Range"
    },
    {
      "parameters": {
        "jsCode": "const alarms=$items(\"Get Alarm Names From Mapping\").map(i=>i.json.alarm_name).filter(Boolean);\nconst t=$items(\"Build Time Range\")[0].json;\nfunction ne(obj){const r={};for(const[k,v]of Object.entries(obj)){if(v!==null&&v!==undefined&&v!==\"\"&&!(Array.isArray(v)&&v.length===0))r[k]=v;}return r;}\nconst meta={count_only:t.count_only,user_question:t.user_question,start_local:t.start_local,end_local:t.end_local,location:t.location,fm_offices:t.fm_offices,region_label:t.region_label,vendor:t.vendor,category:t.category,networktype:t.networktype,standardalarmseverity:t.standardalarmseverity,clearance_severity:t.clearance_severity,sitedownflag:t.sitedownflag,sitepoweroff:t.sitepoweroff,acknowledged:t.acknowledged,sitecode:t.sitecode};\nconst base={start:t.start,limit:t.limit,type:t.type,starttime:t.starttime,endtime:t.endtime};\nconst filters=ne({location:t.location,sitedownflag:t.sitedownflag,sitepoweroff:t.sitepoweroff,networktype:t.networktype,vendor:t.vendor,standardalarmseverity:t.standardalarmseverity,severity:t.clearance_severity,acknowledged:t.acknowledged,sitecode:t.sitecode});\nconst isDirect=alarms.length===1&&alarms[0]===\"__DIRECT__\";\nif(isDirect||alarms.length===0){const p=ne({...base,...filters});p._meta=meta;return[{json:p}];}\nreturn alarms.map(alarm=>{const p=ne({...base,alarmname:alarm,...filters});p._meta=meta;return{json:p};});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        0
      ],
      "id": "22bd793d-db4e-42fc-b0e4-3f240106bdb5",
      "name": "Build API Payload"
    },
    {
      "parameters": {
        "url": "https://10.80.174.137:31943/adc-intg/api/rest/v1/custom_api/custom_api/custom_api_get/query_alarms/query_alarm",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "start",
              "value": "={{ String($json.start ?? 0) }}"
            },
            {
              "name": "limit",
              "value": "={{ String($json.limit ?? 100) }}"
            },
            {
              "name": "type",
              "value": "={{ String($json.type ?? 1) }}"
            },
            {
              "name": "starttime",
              "value": "={{ String($json.starttime) }}"
            },
            {
              "name": "endtime",
              "value": "={{ String($json.endtime) }}"
            },
            {
              "name": "alarmname",
              "value": "={{ $json.alarmname ?? '' }}"
            },
            {
              "name": "location",
              "value": "={{ $json.location ?? '' }}"
            },
            {
              "name": "sitedownflag",
              "value": "={{ $json.sitedownflag ?? '' }}"
            },
            {
              "name": "sitepoweroff",
              "value": "={{ $json.sitepoweroff ?? '' }}"
            },
            {
              "name": "networktype",
              "value": "={{ $json.networktype ?? '' }}"
            },
            {
              "name": "vendor",
              "value": "={{ $json.vendor ?? '' }}"
            },
            {
              "name": "standardalarmseverity",
              "value": "={{ $json.standardalarmseverity ?? '' }}"
            },
            {
              "name": "severity",
              "value": "={{ $json.severity ?? '' }}"
            },
            {
              "name": "acknowledged",
              "value": "={{ $json.acknowledged ?? '' }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1744,
        0
      ],
      "id": "eed704df-d89a-4b61-8906-f635121b2dc2",
      "name": "Call Alarm API",
      "credentials": {
        "httpBasicAuth": {
          "id": "YqTrI8pe3Dx0bBFo",
          "name": "API credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Normalize And Post Filter\n// NOTE: location filtering is handled by the API via the 'location' header.\n// We do NOT re-filter by fm_offices here to avoid double-filtering.\n// Post-filters below are for fields the API does NOT filter natively.\nconst raw = $json;\nconst t   = $items(\"Build Time Range\")[0].json;\nlet records = Array.isArray(raw.result) ? raw.result\n            : Array.isArray(raw.data)   ? raw.data\n            : Array.isArray(raw.rows)   ? raw.rows : [];\n\n// vendor post-filter (API may not support case-insensitive vendor filter)\nif (t.vendor)\n  records = records.filter(r => (r.vendor || \"\").toLowerCase() === t.vendor.toLowerCase());\n\n// networktype post-filter\nif (t.networktype)\n  records = records.filter(r => (r.networktype || \"\").toLowerCase() === t.networktype.toLowerCase());\n\n// site down / power off flags\nif (t.sitedownflag === \"Yes\")\n  records = records.filter(r => r.sitedownflag === \"Yes\");\n\nif (t.sitepoweroff === \"Yes\")\n  records = records.filter(r => r.sitepoweroff === \"Yes\");\n\n// acknowledged\nif (t.acknowledged)\n  records = records.filter(r => (r.acknowledged || \"\") === t.acknowledged);\n\n// severity (standardalarmseverity = raw severity level: Major, Minor ...)\nif (t.standardalarmseverity)\n  records = records.filter(r => (r.standardalarmseverity || \"\").toLowerCase() === t.standardalarmseverity.toLowerCase());\n\n// specific site code\nif (t.sitecode)\n  records = records.filter(r => (r.sitecode || \"\") === t.sitecode);\n\nreturn [{ json: { total: records.length, records } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        0
      ],
      "id": "bbafccad-17d4-4342-90b6-632ef1d7d0af",
      "name": "Normalize And Post Filter"
    },
    {
      "parameters": {
        "jsCode": "const all = $input.all();\nconst t = $items(\"Build Time Range\")[0].json;\nconst co = t.count_only === true;\n\n// unique key for list mode dedup\nfunction uk(r) {\n  if (r.alarmid) return \"aid_\" + r.alarmid;\n  if (r.identifierfromprobe) return \"ifp_\" + r.identifierfromprobe;\n  if (r.identifier) return \"id_\" + r.identifier;\n\n  return \"cmp_\" + [\n    r.sitecode || \"\",\n    r.alarmname || r.rawalarmname || \"\",\n    r.firstoccurrence || \"\",\n    r.networktype || \"\",\n    r.city || r.location || \"\"\n  ].join(\"_\");\n}\n\n// collect api totals + unique records\nlet apiTotal = 0;\nconst seen = new Set();\nconst unique = [];\n\nfor (const item of all) {\n  const itemTotal = Number(item.json.total || 0);\n  apiTotal += itemTotal;\n\n  for (const r of (item.json.records || [])) {\n    const k = uk(r);\n    if (!seen.has(k)) {\n      seen.add(k);\n      unique.push(r);\n    }\n  }\n}\n\nconst dedupedTotal = unique.length;\n\n// for count queries: use API total\n// for list queries: use deduped unique count\nconst finalTotal = co ? apiTotal : dedupedTotal;\n\n// group for list mode\nconst groups = {};\nfor (const r of unique) {\n  const n = r.alarmname || r.rawalarmname || \"Unknown\";\n  groups[n] = (groups[n] || 0) + 1;\n}\n\n// filter summary\nconst parts = [];\nif (t.region_label) parts.push(\"Location : \" + t.region_label);\nif (t.category) parts.push(\"Category : \" + t.category);\nif (t.sitedownflag === \"Yes\") parts.push(\"SiteDown : Yes\");\nif (t.sitepoweroff === \"Yes\") parts.push(\"PowerOff : Yes\");\nif (t.vendor) parts.push(\"Vendor   : \" + t.vendor);\nif (t.networktype) parts.push(\"Network  : \" + t.networktype);\nif (t.acknowledged) parts.push(\"Acked    : \" + t.acknowledged);\nif (t.standardalarmseverity) parts.push(\"Severity : \" + t.standardalarmseverity);\nif (t.sitecode) parts.push(\"SiteCode : \" + t.sitecode);\n\nconst sep = \"─\".repeat(48);\n\nlet reply = `📡 NOC Report — ${t.start_local} → ${t.end_local}\\n${sep}\\nTotal : ${finalTotal}\\n`;\n\nif (parts.length) {\n  reply += `Filters:\\n  ${parts.join(\"\\n  \")}\\n`;\n}\n\nreply += sep;\n\n// list mode only\nif (!co && Object.keys(groups).length) {\n  reply += \"\\n\\nBreakdown:\";\n  const sorted = Object.entries(groups).sort((a, b) => b[1] - a[1]);\n  for (const [n, c] of sorted) {\n    reply += `\\n  • ${n} : ${c}`;\n  }\n}\n\nif (!co && unique.length) {\n  const top = Math.min(10, unique.length);\n  reply += `\\n\\nTop ${top} Sites:`;\n  for (let i = 0; i < top; i++) {\n    const r = unique[i];\n    reply += `\\n  ${i + 1}. ${r.sitecode || r.sitename || \"?\"} — ${r.networktype || \"?\"} — ${r.vendor || \"?\"} — ${r.city || r.location || \"?\"}`;\n  }\n  if (dedupedTotal > 10) {\n    reply += `\\n  ... and ${dedupedTotal - 10} more`;\n  }\n}\n\nreturn [{\n  json: {\n    reply,\n    total: finalTotal,\n    api_total: apiTotal,\n    deduped_total: dedupedTotal,\n    groups\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2192,
        0
      ],
      "id": "9441aa3f-3204-4ad3-8dcb-578febe7cbf3",
      "name": "Deduplicate And Format Reply"
    },
    {
      "parameters": {
        "jsCode": "// ══════════════════════════════════════════════════\n// DEBUG FULL CONTEXT — NOC AI Agent V3.1\n// ══════════════════════════════════════════════════\n\n// ── Raw inputs from each node ──\nconst chatIn  = $items(\"When chat message received\")[0]?.json?.chatInput || \"\";\nconst aiRaw   = $items(\"AI Agent\")[0]?.json?.output || \"\";\nconst parsed  = $items(\"Parse Agent Output\")[0]?.json || {};\nconst loc     = $items(\"Resolve Location\")[0].json;\nconst sql     = $items(\"Build SQL\")[0].json.sql;\nconst mapping = $items(\"Get Alarm Names From Mapping\").map(i => i.json.alarm_name);\nconst t       = $items(\"Build Time Range\")[0].json;\nconst payloads = $items(\"Build API Payload\").map(i => { const p = {...i.json}; delete p._meta; return p; });\nconst normSummary = $items(\"Normalize And Post Filter\").map(i => ({\n  records_after_filter: i.json.total,\n  sample: (i.json.records || []).slice(0, 2).map(r => ({\n    sitecode: r.sitecode,\n    city: r.city,\n    networktype: r.networktype,\n    alarmname: r.alarmname || r.rawalarmname,\n    sitedownflag: r.sitedownflag,\n    severity: r.rawseverity\n  }))\n}));\nconst finalReply = $json.reply || \"\";\nconst deduped    = $json.total || 0;\nconst apiTotal   = $json.api_total || 0;\n\n// ══════════════════════════════════════════════════\n// SECTION 1 — Question & AI Understanding\n// ══════════════════════════════════════════════════\nconst section1 = {\n  original_question : chatIn,\n  ai_raw_output     : String(aiRaw).slice(0, 300),\n  what_AI_understood: {\n    intent      : parsed.intent       || \"(empty)\",\n    category    : parsed.category     || \"(empty)\",\n    vendor      : parsed.vendor       || \"(empty)\",\n    region_input: parsed.region_input || \"(empty)\",\n    networktype : parsed.networktype  || \"(empty)\",\n    severity    : parsed.severity     || \"(empty)\",\n    sitedownflag: parsed.sitedownflag || \"(empty)\",\n    sitepoweroff: parsed.sitepoweroff || \"(empty)\",\n    sitecode    : parsed.sitecode     || \"(empty)\",\n    count_only  : parsed.count_only\n  }\n};\n\n// ══════════════════════════════════════════════════\n// SECTION 2 — Parameters Sent to API\n// ══════════════════════════════════════════════════\nconst firstPayload = payloads[0] || {};\nconst section2 = {\n  location_resolved: {\n    location    : loc.location     || \"(empty)\",\n    region_label: loc.region_label || \"(empty)\",\n    fm_offices  : loc.fm_offices   || []\n  },\n  alarm_mapping: {\n    sql_used      : sql,\n    alarms_found  : mapping\n  },\n  time_range: {\n    start_local: t.start_local,\n    end_local  : t.end_local,\n    starttime  : t.starttime,\n    endtime    : t.endtime\n  },\n  api_headers_sent: {\n    start                : firstPayload.start ?? 0,\n    limit                : firstPayload.limit ?? 100,\n    type                 : firstPayload.type  ?? 1,\n    starttime            : firstPayload.starttime,\n    endtime              : firstPayload.endtime,\n    alarmname            : firstPayload.alarmname            || \"(empty)\",\n    location             : firstPayload.location             || \"(empty)\",\n    sitedownflag         : firstPayload.sitedownflag         || \"(empty)\",\n    sitepoweroff         : firstPayload.sitepoweroff         || \"(empty)\",\n    networktype          : firstPayload.networktype          || \"(empty)\",\n    vendor               : firstPayload.vendor               || \"(empty)\",\n    standardalarmseverity: firstPayload.standardalarmseverity|| \"(empty)\",\n    severity             : firstPayload.severity             || \"(empty)\",\n    acknowledged         : firstPayload.acknowledged         || \"(empty)\"\n  },\n  total_api_calls: payloads.length\n};\n\n// ══════════════════════════════════════════════════\n// SECTION 3 — Results\n// ══════════════════════════════════════════════════\nconst section3 = {\n  total_from_api        : apiTotal,\n  total_after_dedup     : deduped,\n  api_response_summary  : normSummary,\n  final_reply           : finalReply\n};\n\n// ── Return structured debug ──\nreturn [{\n  json: {\n    \"[1] Question & AI Understanding\": section1,\n    \"[2] Parameters Sent to API\"     : section2,\n    \"[3] Results\"                    : section3\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        0
      ],
      "id": "e3b11725-f925-416a-9021-dcaf62646d37",
      "name": "Debug Full Context"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse Agent Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Agent Output": {
      "main": [
        [
          {
            "node": "Resolve Location",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Location": {
      "main": [
        [
          {
            "node": "Build SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build SQL": {
      "main": [
        [
          {
            "node": "Get Alarm Names From Mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Alarm Names From Mapping": {
      "main": [
        [
          {
            "node": "Build Time Range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Time Range": {
      "main": [
        [
          {
            "node": "Build API Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build API Payload": {
      "main": [
        [
          {
            "node": "Call Alarm API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Alarm API": {
      "main": [
        [
          {
            "node": "Normalize And Post Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize And Post Filter": {
      "main": [
        [
          {
            "node": "Deduplicate And Format Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate And Format Reply": {
      "main": [
        [
          {
            "node": "Debug Full Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f2b4041d-c00a-49e1-808d-073446b2a676",
  "meta": {
    "instanceId": "ff02306f19a73e963e5e9909ae18cd9bc7c89315f1ee53cca015f45d73dd622b"
  },
  "id": "wA0hYWD5owIlaYov",
  "tags": []
}